.overall-favorite {
  padding: 10px 0;
}

.overall-heading {
  padding: 0 10px;
  margin: 0;
}

.float-left {
  float: left;
}

.clear-floats {
  clear: both;
}

.favorite {
  background-color: yellow;
}
