<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<!--<h2>Favorite Pokemon: {{ favoritePokemon }}</h2>-->
<!--<div *ngIf="isPikachu()">Pick a Pokemon Alex likes!!</div>-->
<!--<input type="text" #favoritePokemonInput placeholder="Change favorite">-->
<!--<button (click)="changePokemon(favoritePokemonInput.value)">Change</button>-->
<!--<input type="text" placeholder="Change favorite" [(ngModel)]="favoritePokemon">-->
<!--<button>Change</button>-->
<h2>App Component</h2>
<div>
  Name: {{pokemonName}}
</div>
<input type="text" #newPokemonName>
<button (click)="updatePokemon(newPokemonName.value)">Update Name App Component Value</button>
<div>
  Fav: {{favPokemon.name}}
</div>
<input type="text" #newFav>
<button (click)="updateFav(newFav.value)">Update Fav App Component Value</button>
<app-pokemon-list [pokemons]="pokemonsList1" [favPokemon]="favPokemon" [pokemonName]="pokemonName"></app-pokemon-list>
<app-pokemon-list [pokemons]="pokemonsList1" [favPokemon]="favPokemon" [pokemonName]="pokemonName"></app-pokemon-list>
