<div style="text-align:center">
  <h1>
    Welcome to {{title}} Application!
  </h1>
</div>
<div>
  <h2>Pick your favorite Pokemon</h2>
  <ul>
    <li *ngFor="let pk of pokemon" [ngClass]="{'favorite': isFavorite(pk)}">
      <strong>Pokedex Index:</strong> {{ pk.id }}
      <strong>Name:</strong> {{ pk.name }}
      <button (click)="toggleFavorite(pk)">
        <span *ngIf="!isFavorite(pk)">Add</span>
        <span *ngIf="isFavorite(pk)">X</span>
      </button>
    </li>
  </ul>
</div>
<div>
  <h2>My favorite Pokemon</h2>
  <div class="overall-favorite">
    <h4 class="float-left overall-heading">Pick Overall Pokemon</h4>
    <input class="float-left" type="text" #overallPokemonInput>
    <button class="float-left" (click)="choseOverallFavorite(overallPokemonInput.value)">Choose</button>
    <div class="float-left" *ngIf="overallFavorite && overallFavorite.type === 'Fire'">HOT!</div>
    <div class="float-left" *ngIf="overallFavorite && overallFavorite.type === 'Water'">PUT OUT THAT FIRE!</div>
  </div>
  <ul class="clear-floats">
    <li *ngFor="let pk of favoritePokemon">
      <strong>Pokedex Index: </strong> {{ pk.id }} <strong>Name:</strong> {{ pk.name }} <button (click)="removeFromFavorites(pk)">X</button>
    </li>
  </ul>
</div>
